$boxWidth: 4vh;
$containerWidth_xxxl: 1300px;
$containerWidth_xxl: 1150px;
$containerWidth_xl: 950px;
$containerWidth_lg: 720px;
$containerWidth_md: 550px;
$containerWidth_sm: 320px;
$containerWidth_sm: 270px;

$breakpoint-xs: 330px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;



:export {
  boxWidth: $boxWidth;
  containerWidth: $containerWidth_xxxl;
}