@import "adaptive";
@import 'mixins';

@mixin nameAnimation {
  @keyframes nameAnim {
    0% {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 150vw;
      color: white;
    }
    30% {
      transform: translate(-50%, -50%);
      font-size: 20vw;
      color: white;
      opacity: 1;
    }
    90% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20vw;
      color: white;
    }
    100% {
      top: 50%;
      left: 50%;;
      transform: translate(-50%, -50%);
      font-size: 0px;
      opacity: 0;
      color: white;
    }
  }
}


@mixin logoWrapAnimation {
  @keyframes logoWrapAnim {
    0% {
      background: #13110b;
      box-shadow: inset 0px 0px 15vh 10vh  #13110b;
    }
    45% {
      background: transparent;
      box-shadow: inset 0px 0px 35vh 15vh  #13110b;
    }
    50% {
      box-shadow: inset 0px 0px 35vh 15vh  #13110b;
    }

    100% {
      background: transparent;
      box-shadow: inset 0px 0px 0vh 0vh  #13110b00;
    }
  }
}

@mixin logoAnimation($container, $OffsetLeft: 0) {
  @keyframes logoAnim {
    0% {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      opacity: 0;
    }
    30% {
      transform: translate(-50%, -50%);
      width: 70vw;
      opacity: 1;
    }
    50% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      opacity: 1;
    }
    100% {
      top: 36px;
      @include getLeft($container);
      transform: translate($OffsetLeft, 0);
      width: 300px;
      opacity: 1;

    }
  }
}

@mixin blink($duration: 1s) {
  animation-duration: $duration;
  animation-name: barBlink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @keyframes barBlink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}