@import './src/assets/styles/index';


.navigation {
  position: relative;
  z-index: 15;
  padding: 32px 0px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    @include _sm {
      flex-direction: column;
    }
    .logo {
      @include _sm {
        margin-bottom: 16px;
      }
      &Hidden {
        opacity: 0;
      }
    }
    .button {
      &Hidden {
        opacity: 0;
      }
    }
  }

}


