.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(50px * 10);
  margin: 0px auto;
  background: #262115;
  border: 1px solid #FFFFFF50;
  box-sizing: content-box;


}

