@import "./src/variables/breakpoints";
@import './src/variables/colors';

.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc($boxWidth * 10);
  margin: 0px auto;
  background: $transparent-white;
  box-sizing: content-box;
}

