@import './src/assets/styles/index';

.wrapper {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $boxWidth;
    background: $transparent-white;

    border-radius: 12px;
    .title {
      font-size: 42px;
      font-weight: 600;
      color: white;
      margin-bottom: $boxWidth;
    }


  }
}