.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .title {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 5%;
  }
  button {
    padding: 15px 25px;
    font-size: 25px;
    font-family: "Press Start 2P", cursive;
    color: #4EB748;
    background: #262115;
  }
}