@import './src/assets/styles/index';

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .title {
    font-size: 55px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 5%;
    .spanPurple {
      color: #FF14B1;
    }
    .spanBlink {
      margin-left: 12px;
      //
      @include blink(0.75s);

    }
  }
}