@import './src/assets/styles/index';


.alert {
  position: absolute;
  right: 0;
  top: 100px;
  padding: 16px 32px;
  border-radius: 12px 0px 0px 12px;
  background: $transparent-white;
  transition: all 0.5s ease;
  transform: translate(100%, 0);
  .title {
    font-size: 22px;
    font-weight: 700;
    color: $white;
    margin-bottom: 28px;
    span {
      padding: 14px 17px;
      margin-right: 12px;
      border-radius: 12px;
      background: $transparent-white;
      color: #ffd600;
    }
  }
  .text {
    font-weight: 500;
    font-size: 24px;
    color: $white;
  }
  &Showed {
    transform: translate(0%, 0);
  }

}