@import './src/assets/styles/index';

.wrap {
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: calc($boxWidth * 4);
    height: min-content;
    margin-top: 25px;
    border: 1px solid #FFFFFF50;
    border-radius: 12px;
    box-sizing: content-box;
  }
  p {
    font-size: 24px;
    color: #fff;
  }
}