@import './src/assets/styles/index';

.name {
  position: relative;
  z-index: 3;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.greeting {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  &.nameGreeting {
    background: #13110b;
    .name {
      position: absolute;
      left: 50%;
      top: 50%;
      color: transparent;
      animation-duration: 1s;
      animation-name: nameAnim;
      animation-iteration-count: 1;
      animation-direction: normal;
      @include nameAnimation
    }
  }
  &.logoGreeting {
    animation-duration: 1.5s;
    animation-name: logoWrapAnim;
    animation-iteration-count: 1;
    animation-direction: normal;
    .logo {
      left: 50%;
      top: 50%;
      opacity: 0;
      animation-duration: 1.5s;
      animation-name: logoAnim;
      animation-iteration-count: 1;
      animation-direction: normal;
      @include logoAnimation($containerWidth_xxxl);
      // Adaptive
      @include _xxl {
        @include logoAnimation($containerWidth_xxl);
      }
      @include _xl {
        @include logoAnimation($containerWidth_xl);
      }
      @include _lg {
        @include logoAnimation($containerWidth_lg);
      }
      @include _md {
        @include logoAnimation($containerWidth_md);
      }
      @include _sm {
        @include logoAnimation($containerWidth_sm, -50%);
      }
    }
    @include logoWrapAnimation
  }
}