@import "assets/styles/variables/adaptive";
@import "assets/styles/variables/breakpoints";


*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  //background: #1C180D;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  letter-spacing: 0.32px;
}

.container {
  width: $containerWidth_xxxl;
  margin: 0px auto;
  @include _xxl {
    width: $containerWidth_xxl;
  }
  @include _xl {
    width: $containerWidth_xl;
  }
  @include _lg {
    width: $containerWidth_lg;
  }
  @include _md {
    width: $containerWidth_md;
  }
  @include _sm {
    width: $containerWidth_sm;
  }
}

.icon {
  width: $boxWidth;
  height: $boxWidth;
  fill: #13110b;
}

.App {

  .box {
    width: $boxWidth;
    height: $boxWidth;
    border: 1px solid #FFFFFF50;
    border-radius: 5px;
  }
}

